.menubar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(216, 190, 157, 0.781);
    align-items: center;
}

li{
    display: inline-block;
    padding: 0px 20px;
}

.ActiveOption {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
    font-size: 25px;
}

.Option {
    text-decoration: none;
    color: rgba(87, 86, 86, 0.74);
    font-size: 25px;
}

.imgcart {
    height: 100px;
    width: auto;
    border-radius: 50%;
}
